:root {
    --primario: #76c5fa;
    --secundario: #4587a1;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal:'PT Serif', serif;
}
/*
{
    box-sizing : border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

*/

html {
  box-sizing: border-box;
  font-size: 62.5%; /*Para que un rem sea igual a 10px*/
}

/*Globales*/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secundario);
}
a {
  text-decoration: none;
}

.contenedor{
 
  margin: 0 auto;
}

h1,h2,h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

.collapse,.navbar-nav{
  font-family: var(--fuentePrincipal);
  gap: 2rem;
}

/*Header se utilizo Boostrap*/

/*Footer*/

.footer {
  background-color: var(--secundario);
  padding: 1rem 0;
  margin-top: 2rem;

}

.footer__texto{
  font-family: var(--fuentePrincipal);
  text-align: center;
  color: var(--blanco);
  font-size: 0.8rem;
}

/*Grid*/
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
  }
}

main{
  background-color:rgb(194, 222, 247);
}
/*Prestaciones*/
.prestacion{
  background-color: var(--blanco);
  padding: 1rem;

}
.prestacion__imagen{
  width: 100%;
}
.prestacion__informacion{

}

.prestacion__nombre{
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

.advertencia{
  color: red;
}

/*Para la seccion de institucion*/
.contenedorbotones{
  background-color: var(--secundario);
  padding: 20px;
  display: flex;
  margin: auto;
  width: 50%;
  height: 100px;
  justify-content:space-around ;
  flex-wrap: wrap;
  align-items: center;
}

.caja{
  background-color: var(--primario);
  border-radius: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.nosotros, .historia, .infraestructura{
  background-color: rgb(180, 232, 234);
  padding: 20px;
/*   display: flex; */
  flex-direction: row;
  margin: 0 auto;
  width: 98%;
  height: auto;
  justify-content:space-around;
  /* flex-wrap: wrap;*/
  align-items: left;  
  text-align: center; 
  font-family: var(--fuentePrincipal);
  margin-block-end: 20px;
  margin-block-start: 20px;
}

.partes{
   color: solid black; 
   text-align: left;
   margin-left: 100px;
   font-family: var(--fuentePrincipal);
   vertical-align: middle;
}

.dato
{
    background-color: beige;
    height: auto;
    width: auto;
    padding: 1px;
    margin-bottom: 1px;
    margin-left: 100px;
    font-family: var(--fuentePrincipal);
}

.union{
  width: 100%;
  display: flex;
  align-items: center;
  margin-block-start: 30px;
}

.descripcionfundador{
  background-color: beige;
  flex: 1;
  padding: 5px;
  height: auto;
  width: auto;
}

.imagenfundador, .grupoimagenes{
  flex: 1;
  padding: 20px;
}
/*ESPECIALIDADES*/
 .cont{
    display:contents;
    justify-content: center; 
    

 }
.cont1{
    display: flex;
    justify-content: center;
    background-color: rgb(87, 128, 114);
    
}
.tit{
    display:flex;
    justify-content: center;
    background-color: rgb(126, 226, 193);
    padding: 25px;
    margin: 3px;
    border-style: inset;
    overflow: hidden; 

}
.caja{
    
    background-color: rgb(126, 226, 193);
    padding: 25px;
    margin: 3px;
    border-style: inset;
    overflow: hidden; 

}
.espImg{
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px;
}
